body{
    background-color: #ff6f69;
    }
p{
    color: #284907;
    }
    

h1{
    border: 1px solid black;
    outline-style: solid;
    }
ul{
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;

    }
li{
    float: left;
    }
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 25px;
    }
tr{
    color: #284907;
    }